node_modules
.git
.next
dist
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
apps/backend/mongo
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/vitest.config.ts
**/.storybook
**/stories