# Archivos de logs
npm-debug.log

#db
/mongo/

# Archivos del sistema operativo
.DS_Store

# Vitest
coverage/
**/coverage/

# Node.js
node_modules/
dist/

# Entornos
.env
.env.local

# IDE/Editor
.vscode/
.idea/